<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alnour">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlNour">
        <activity
            android:name=".RecyclerDiscountActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateProductActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclerCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".AddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ReportsActivity"
            android:exported="false" />
        <activity
            android:name=".ProductCartdesActivity"
            android:exported="false" />
        <activity
            android:name=".InvoiceDesign"
            android:exported="false" />
        <activity
            android:name=".ProductDesign"
            android:exported="false" />
        <activity
            android:name=".AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateSupplierActivity"
            android:exported="false" />
        <activity
            android:name=".AddSupplierActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".AddCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".AddDiscountActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclerActivityDes"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplachActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>